$cerulean: #00303F;
$honey: #DCAE1D;
$sky: #CAE4DB;
$mist: #7A9D96;
$white: #FFFFFF;

$primary-color: $cerulean;
$secondary-color: $sky;
$tertiary-color: $honey;

$body-bg: $sky;
$text-color: $secondary-color;
