@import '_index';

%icon-button {
  background-color: transparent;
  border-color: transparent;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $base-font;
  background-color: $primary-color;
  color: $text-color;
}

.app__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  min-height: 50px;
  font-size: $base-font;
  background-color: $secondary-color;
  border: $tertiary-color;
  color: $primary-color;

  &:hover {
    background-color: $tertiary-color;
  }
}

.result__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  border-bottom: 3px solid $secondary-color;

  input {
    min-height: 50px;
    min-width: 200px;
    font-size: $md-font;
    padding-left: 20px;
    background-color: transparent;
    color: darken($secondary-color, 10);
    border: none;
  }

  .icon-btn {
    &--visible {
      @extend %icon-button;
    }
    &--copy {
      @extend %icon-button;
    }
  }
}

.copy-message {
  height: 35px; 
  width: 100%; 
  text-align: center;
  font-size: $sm-font;
  color: $tertiary-color;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }
}
