@import '../../scss/_all.scss';

.generate-password {

	&__button {
		height: 50px;
		width: 100%;
		margin-bottom: 10px;
		font-size: $base-font-size;
		background-color: $secondary-color;
		border: 0px;
	}

}
