:host {
	width: 75%;
	height: 50px;
	margin: 10px;
	background: transparent;
	overflow: hidden;
	border-bottom: 1px solid white;

	#passwordForm {
		height: 100%;
		
		.pf-input {
			width: 75%;
			height: 100%;
			background: transparent;
			border: 0px;
			color: white;
			font-size: 3vh;

			&::-webkit-input-placeholder {
				color: white;
				opacity: 0.7;
			}

			&::-moz-placeholder {
				color: white;
				opacity: 0.7;
			}

			&:-ms-input-placeholder {
				color: white;
				opacity: 0.7;
			}

			&::placeholder {
				color: white;
				opacity: 0.7;
			}
		}

		.icon-btn {
			background: transparent;
			border: 0px;
		}
	}
}