@import '../../scss/_all.scss';

.password-result {
	margin: 10px;
	background: transparent;
	overflow: hidden;

	&__form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		    	flex-direction: column;
		
		@media only screen and (min-width: 500px) {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			border-bottom: 2px solid $secondary-color;
		}
		
		.input {
			-webkit-box-flex: 3;
			    -ms-flex: 3;
			        flex: 3;
			@media only screen and (min-width: 500px) {
				-webkit-box-flex: 5;
			    -ms-flex: 5;
			        flex: 5;
			}
			background: transparent;
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			border-bottom: 2px solid $secondary-color;
			margin-bottom: 30px;
			@media only screen and (min-width: 500px) {
				border-bottom: 0px;
				margin-bottom: 0px;
			}
			
			color: $secondary-color;
			font-size: $base-font-size;

			&::-webkit-input-placeholder {
				color: $secondary-color;
				opacity: 0.7;
			}

			&::-moz-placeholder {
				color: $secondary-color;
				opacity: 0.7;
			}

			&:-ms-input-placeholder {
				color: $secondary-color;
				opacity: 0.7;
			}

			&::placeholder {
				color: $secondary-color;
				opacity: 0.7;
			}
		}
	}
}

.button-container {
	@include absolute-center(row);
	-webkit-box-flex: 1;
		-ms-flex: auto;
			flex: auto;

	.button {
		width: 0px;
		border: 0px;
		-webkit-box-flex: 5;
		    -ms-flex: 5;
		        flex: 5;
		background: transparent;
		
	}
}
