/*//////////////////////////////*/
/*			Variables        //*/
/*/////////////////////////////*/


/*--------- Colors ---------//*/
$primary-color: #689F38;
$secondary-color: #ffffff;
$app-success: #ff8000;
$app-error: #d9534f;

$body-bg: #000000 !default;
$text-color: #ffffff !default;

/*------ Typography ---------//*/
$base-font-size: 3vh !default;
$sm-font-size: $base-font-size - 1vh;
$md-font-size: $base-font-size + 1.5vh;
$lg-font-size: $base-font-size + 3vh;

/*--------- Form ----------//*/
