@import '../../scss/_all.scss';

:host {
	@include fill-all-space;
	@include absolute-center(column);
	background-color: $primary-color;

	.home-content {
		width: 85%;
		@media only screen and (min-width: 767px) {
			width: 60%;
		}

		@media only screen and (min-width: 1200px) {
			width: 35%;
		}

    	padding: 10px;
    	margin: 20px;
    	overflow: hidden;
		-webkit-transition: width 0.5s linear;
		transition: width 0.5s linear;
	}
}